<% if current_user %>
  <p>Welcome, <%= current_user.name %>!</p>
  <%# <%= image_tag current_user.image_url, alt: "Profile Picture", size: "50x50" %> %>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
  <%= link_to 'Login with Google', '/auth/google_oauth2' %>
<% end %>
